#yMaps {
  width: auto;
  height: 100%;
  min-height: 450px;

  .ymaps-icon-content-layout {
    width: fit-content;
    font-size: 12px;
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(100, 94, 112, 0.3);
    border-radius: 6px;
    color: var(--text-color);
    background-color: var(--white);
    display: none;
  }

  .zoom-btns {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;

    button {
      @extend .btn-reset;
      @extend .flex-centered-content;
      width: 40px;
      height: 40px;
      margin: 0 5px;
      box-shadow: 0px 4px 10px rgba(100, 94, 112, 0.3);
      border-radius: 6px;
      background-color: var(--white);

      &:active {
        background-color: var(--accent);
      }
    }
  }
}

[class*="-balloon"] {
  box-shadow: none !important;
  border-radius: 5px !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;

  @include m-b-down(396px) {
    border-radius: 0 !important;
  }

  .object-preview-card {
    background-color: var(--white);
    border: none;
    min-width: 240px;

    @include m-b-down(396px) {
      border-radius: 0;

      .object-preview-card__header {
        border-radius: 0;
      }
    }

    .object-preview-card__detail-link {
      min-height: 24px;
      font-size: 14px;
      font-weight: 600;
    }

    table {
      padding: 0;
      border: 0;
      margin-bottom: 0;

      td {
        vertical-align: top;
        padding: 0;
      }

      thead {
      }

      thead td {
        font-weight: 600;
        font-size: 14px;
        color: #333333;
        white-space: nowrap;
        padding-bottom: 5px;
      }

      tbody tr td:first-child {
        font-size: 14px;
        color: #7d7d7d;

        padding-right: 10px;
      }

      tbody tr td:last-child {
        font-size: 14px;
      }
    }

    .object-preview-card__content {
      padding: 10px;
      padding-top: 0;
    }

    .object-preview-card__header {
      min-height: 120px;
      max-height: 120px;

      img {
        max-height: inherit;
      }
    }
  }
}

[class*="-balloon__content"] {
  margin-right: 0 !important;
  padding: 0 !important;
  background-color: #ffffff !important;
}

[class*="-balloon__close"] {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

[class*="-balloon__close-button"] {
  background: url("@/assets/img/icon-close.svg") 50% no-repeat !important;
  opacity: 1 !important;

  @include m-b-down(396px) {
    right: 20px !important;
  }
}
