.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);

    @media (max-width: 620px) {
      padding: 0 20px;
    }
  }

  &-text {
    font-size: clamp(14px, 1.8vw, 16px);
    font-weight: 400;
    color: var(--base-text-color);

    &--md {
      font-size: clamp(18px, 1.8vw, 24px);
    }

    &--sm {
      font-size: 14px;
    }

    &--light {
      color: var(--light);
    }

    &--success {
      color: var(--success);
    }

    &--info {
      color: var(--info);
    }

    &--reg {
      font-weight: 400;
    }
    &--medi {
      font-weight: 500;
    }
    &--semi {
      font-weight: 600;
    }
    &--bold {
      font-weight: 700;
    }
  }

  &-table-wrapper {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
  }
}
