.lw-select {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;

  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);

  small {
    font-size: 14px;
    font-weight: 400;
    color: #757575;

    @media (max-width: 534px) {
      font-size: 12px;
    }
  }

  .custom-select {
    &-container {
      width: 100%;

      &.is-open .custom-select-panel {
        // border: 1px solid #dedede;
        border-radius: 3px;
      }

      &.is-open .custom-select-opener::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &-opener {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      padding: 10px 16px;
      border-radius: 3px;
      background-color: transparent;
      padding-right: 50px;
      width: 100%;

      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        right: 16px;
        content: "";
        width: 16px;
        height: 10px;
        background-image: url("@/assets/img/icon-arrow-down.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform var(--main-transition);
      }
    }

    &-panel {
      top: calc(100% + 2px);
      width: 100%;
      transition: none !important;
      min-width: fit-content;
      padding: 0;

      background-color: #ffffff;
      cursor: pointer;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    &-option {
      font-style: 14px;
      width: 100%;
      padding: 10px 16px;
      background-color: transparent;
      color: #333333;

      &:not(:last-child) {
        border-bottom: 1px solid #dedede;
      }
    }

    &-option.has-focus {
      color: #ffffff;
      background-color: #4caf50;
    }
  }
}

.lw-pagination-select {
  width: 100%;
  max-width: fit-content;
  box-shadow: none;
  .custom-select {
    &-opener {
      width: 55px;
      height: 36px;
      padding: 10px;
      padding-right: 16px;
      color: var(--light);

      border: 1px solid var(--lightgray);
      border-radius: 3px;

      &::after {
        right: 8px;
        background-image: url("@/assets/img/icon-arr-d.svg");
        background-size: 16px;
      }
    }

    &-panel {
      width: 55px;
      height: fit-content;
      top: calc(-100% + 2px);
    }

    &-container {
      &.is-open .custom-select-panel {
        border: 1px solid var(--lightgray);
        border-radius: 3px;
        max-height: 170px;
      }
    }

    &-option {
      padding: 8px 10px;
      min-height: 36px;
      text-align: center;
    }
  }
}
